/* essentials: */

@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');


:root {
    /* Brand Primary (Dark Brown) */
    --brown-dark: #522a1e;

    /* Accent (Coffee Brown) */
    --brown: rgba(141, 85, 36, 0.685);

    /* Highlight (Amber Cream) */
    --reddyBrown: hsl(16, 100%, 32%);

    /* Background (Light Beige) */
    --background: hsl(41, 100%, 81%);

    /* Button Text / Headings */
    --text-dark: rgb(60, 35, 25);

}


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    
}

body , html{
    background-color: var(--background);
    overflow-x: hidden;
}

nav{
    width: 98%;
    height: 4.063rem;
    background-color: hsla(41, 100%, 84%, 0.678);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 4;
}

.contact {
    font-weight: 300;
    color: var(--brown-dark);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;


}

.about {
    font-weight: 300;
    color: var(--brown-dark);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;


}

.home {
    font-weight: 300;
    color: var(--brown-dark);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;
    
}

.menu a {
    text-decoration: none;
}


.contact:hover , .skills-and-projects:hover , .home:hover , .about:hover {
    text-shadow: 0px 3px 20px var(--brown-dark);
}

.menu-icon {
    height: 2.5rem;
    display: block;
    cursor: pointer;

}

#menu-toggle:checked ~ .menu {
    transform: translateX(0);
}

.menu {
    height: calc(100% - 4.063rem);
    width: 12.5rem;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 5.5rem;
    background-color: hsla(41, 100%, 84%, 0.678);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px 0px 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    display: block;
    transition: transform 0.3s ease;
    z-index: 8;

}



#brandName{
    color: var(--brown-dark);
    font-family: 'poppins' , sans-serif;
    font-size: 2rem;
}
#tabs{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: 'poppins', sans-serif;
}
#tabs a{
    text-decoration: none;
    color: var(--brown-dark);
}
#logo-section{
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: icon-up 1s ease-in 0s 1;
}
#logo{
    height: 15rem;
    animation: fade 1s ease-in 0s 1;
    opacity: 100%;
}

@keyframes icon-up{
    0%{top: 90px};
    100%{top: 80px};
}
#sentence-section{
    position: absolute;
    top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: up 0.5s ease-in 0.3s 1;
}
@keyframes up{
    0%{top: 280px; opacity: 0%;};
    100%{top: 270px; opacity: 100%;};
}
#sentence{
    font-family: 'molle', cursive;
    font-weight: 400;
    font-size: 5rem;
    font-style: italic;
    color: var(--text-dark);
}

#important-information-section{
    position: absolute;
    top: 389px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 30px;
    flex-direction: row;
    width: 100%;
}
.box{
    background-color: white;
    height: 284px;
    width: 484px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    display: flex;
    flex-direction: column;
    background-color: hsl(41, 91%, 79%);
}
.box-top-bar{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 20px;
}
.box-top-bar img{
    height: 28px;
    margin-left: 10px;
    margin-top: 10px;
}
.box-top-bar p, .box-top-bar a{
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    color: var(--brown-dark);
    text-decoration: none;
}
.box-bottom img{
    height: 240px;
}
#sheet-container{
    position: absolute;
    left: 50%;
    top: 160px;
    min-width: 60%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.575);
    background-color: hsla(14, 46%, 22%, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: fit-content;
    width: fit-content;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    text-align: center;
}
.title{
    margin-bottom: 20px;
    font-family: 'molle', cursive;
    font-style: italic;
    font-weight: 500;
    font-size: 3rem;
    color: rgb(218, 218, 218);
    animation: fade 1s ease-in 0s 1;
}
#about-speech{
    color: rgb(218, 218, 218);
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    animation: fade 1s ease-in 0s 1;
}

#visuals-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
}
#mail-visual{
    width: 600px;
    margin-bottom: 45px;
}
#info-container{
    display: flex;
    justify-content: center;   
    align-items: center; 
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0px;
    
}
#spans-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
#info-container span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    animation: fade 1s ease-in 0s 1;
}
#info-container span svg{
    width: 60px;
    fill: var(--brown-dark);
}
#info-container span a, #info-container span p{
    font-size: 40px;
    text-decoration: none;
    color: var(--brown-dark);
}

@keyframes fade{
    0%{opacity: 0%};
    100%{opacity: 100%};
}
@media (max-width : 1228px) {
    #mail-visual{
        width: 500px;
    }
    #info-container span svg{
        width: 40px;
    }
    #info-container span a, #info-container span p{
        font-size: 30px;
    }
}

@media (max-width : 1028px) {
    .large-screens-nav-items{display: none;}
    .small-screens-nav-items{display:block;}
    #logo{height: 13rem;}
    #sentence{font-size: 3rem;}
    #important-information-section{flex-direction: column;}
    #sheet-container{min-width: 90%;}
    #mail-visual{
        width: 400px;
    }
    #info-container span svg{
        width: 40px;
    }
    #info-container span a, #info-container span p{
        font-size: 20px;
    }

}
@media (min-width : 1029px) {
    .large-screens-nav-items{display: block;}
    .small-screens-nav-items{display:none;}
}
@media (max-width : 608px) {
    #sentence{font-size: 2.5rem;}
    #brandName{font-size: 1.5rem;}
    

}
@media (max-width : 506px) {
    #sentence{font-size: 2rem;}
    #logo{height: 10rem;}
    .box{
    height: 180px;
    width: 380px;
    }
    .box-top-bar{
        margin-bottom: 5px;
        gap: 15px;
    }
    .box-top-bar img{
        height: 20px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .box-top-bar p, .box-top-bar a{
        margin-top: 7px;
        font-size: 0.8rem;
    }
    .box-bottom img{
        height: 190px;
    }
    #important-information-section{
        top: 350px;
        gap: 70px;
    }
}
@media (max-width : 417px) {
    #sentence{font-size: 1.6rem;}
    #logo{height: 8rem;}
    #sentence-section{top: 200px;}
    @keyframes up{
        0%{top: 220px; opacity: 0%;};
        100%{top: 200px; opacity: 100%;};
    }
    .box{
    height: 120px;
    width: 320px;
    }
    .box-top-bar{
        margin-bottom: 3px;
        gap: 15px;
    }
    .box-top-bar img{
        height: 20px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .box-top-bar p, .box-top-bar a{
        margin-top: 7px;
        font-size: 0.6rem;
    }
    .box-bottom img{
        height: 161px;
    }
    #important-information-section{
        top: 300px;
        gap: 85px;
    }
    #brandName{font-size: 1.3rem;}
    .title{font-size: 2.2rem;}
    #about-speech{font-size: 1rem;}
}
@media (max-width : 843px) {
    #mail-visual{
        width: 400px;
        margin-top: 120px;
    }
    #info-container span svg{
        width: 40px;
    }
    #info-container span a, #info-container span p{
        font-size: 30px;
    }

    #info-container{
        bottom: 0px !important;
        height: 50%;
        width: 100%;
        position: absolute;
    }
    #visuals-container{
        top: 0px !important;
        height: 50%;
        width: 100%;
        position: absolute;
    }
}
@media (max-width : 550px) {
    #mail-visual{
        width: 350px;
    }
    #info-container span svg{
        width: 30px;
    }
    #info-container span a, #info-container span p{
        font-size: 20px;
    }
    #spans-container{
        margin-bottom: 100px;
    }
}
@media (max-width : 370px) {
    #mail-visual{
        width: 300px;
    }
    #info-container span svg{
        width: 25px;
    }
    #info-container span a, #info-container span p{
        font-size: 15px;
    }
    #spans-container{
        margin-bottom: 150px;
        gap: 20px;
    }
}